%% -*- erlang -*-

{sub_dirs, [
            "apps/{{projectid}}",
            "rel"
           ]}.

{erl_opts, [
            debug_info, 
            fail_on_warning
           ]}.

{require_otp_vsn, "R14"}.

%% Example, uncomment to retrieve cowboy as a dep.
{deps, [
%%	{'cowboy', ".*", {git, "http://github.com/extend/cowboy.git", ""}}
       ]}.
